# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://pre-commit.com for more information

# Do not check/format anything from third parties
exclude: '^share/openPMD/thirdParty'

# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: check-json
    - id: check-toml
    - id: check-yaml
      args: [--allow-multiple-documents]
    - id: check-added-large-files
      args: ['--maxkb=80']
    - id: requirements-txt-fixer
#  - id: fix-encoding-pragma
#    exclude: ^noxfile.py$

# documentation files: .rst
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    - id: rst-backticks
    - id: rst-directive-colons
    - id: rst-inline-touching-normal

#- repo: https://github.com/asottile/pyupgrade
#  rev: v2.29.0
#  hooks:
#  - id: pyupgrade

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-tabs

# CMake formatting
#- repo: https://github.com/cheshirekow/cmake-format-precommit
#  rev: v0.6.13
#  hooks:
#  - id: cmake-format
#    additional_dependencies: [pyyaml]
#    types: [file]
#    files: (\.cmake|CMakeLists.txt)(.in)?$

# C++ formatting
# clang-format v13
#   to run manually, use .github/workflows/clang-format/clang-format.sh
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.2
  hooks:
  - id: clang-format
    # By default, the clang-format hook configures:
    # 'types_or': [c++, c, c#, cuda, java, javascript, json, objective-c, proto, textproto]
    # Unfortunately, the c++ option does not recognize .tpp files, so we need to do this manually
    # Since file filters in pre-commit work by logical AND, it's only possible to narrow the filter definition
    # So, we add a regex for the type of file that we want and additionally disable the 'types_or'
    # option entirely.
    'types_or': []
    files: .*\.(tpp|h|hpp|hpp\.in|cpp|cxx|js|json)$

# Autoremoves unused Python imports
- repo: https://github.com/hadialqattan/pycln
  rev: v2.4.0
  hooks:
  - id: pycln
    name: pycln (python)

# Sorts Python imports according to PEP8
# https://www.python.org/dev/peps/pep-0008/#imports
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    name: isort (python)

# Python: Flake8 (checks only, does this support auto-fixes?)
#- repo: https://github.com/PyCQA/flake8
#  rev: 4.0.1
#  hooks:
#  - id: flake8
#    additional_dependencies: &flake8_dependencies
#      - flake8-bugbear
#      - pep8-naming
#    exclude: ^(docs/.*|tools/.*)$
# Alternatively: use autopep8?

# Python Formatting
#- repo: https://github.com/psf/black
#  rev: 21.10b0 # Keep in sync with blacken-docs
#  hooks:
#  - id: black
#- repo: https://github.com/asottile/blacken-docs
#  rev: v1.11.0
#  hooks:
#  - id: blacken-docs
#    additional_dependencies:
#    - black==21.10b0 # keep in sync with black hook

# Jupyter Notebooks: clean up all cell outputs
- repo: https://github.com/roy-ht/pre-commit-jupyter
  rev: v1.2.1
  hooks:
  - id: jupyter-notebook-cleanup
    args:
      - --pin-patterns
      - "[pin];[donotremove]"
      # - --remove-kernel-metadata

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.50"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]
